<% action = user.persisted? ? user_url(user) : users_url %>
<% method = user.persisted? ? "Patch" : "Post" %>
<% message = user.persisted? ? "Update user" : "Create User" %>

<form action="<%= action %>" method="post">
  <input type="hidden" name="_method" value="<%= method %>">

  <input
    name="authenticity_token"
    type="hidden"
    value="<%= form_authenticity_token %>">
    
  <label for="username">Username</label>
  <input type="text" name="user[username]">

  <label for="password">Password</label>
  <input type="password" name="user[password]">

  <input type="submit" value="<%= message %>">
</form>
